:root {
  --border-style: 16px solid #bbada0;
  --border-radius: 6px;
  --cell-size: 107px;
}

body {
  background-color: #faf8ef;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  border: var(--border-style);
}

.row:nth-child(1) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.row:nth-child(4) {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.row:nth-child(2),
.row:nth-child(3),
.row:nth-child(4) {
  border-top: none;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-right: var(--border-style);
  background-color: #e3dbd2;
}

.cell:nth-child(4) {
  border: none;
}